			<div id="banner">
				<div class="wrapper">
					<img src="./slike/lopta.png" alt="web dizajn">
					<h1>&nbsp;WEB DESIGNER</h1>
					<p>Welcome to the world of web design.</p>
				</div>
				<!-- div .wrapper end -->
			</div>
			<!-- div #banner end -->
<!--		</header> -->
		<!-- header #page-header end -->
		<main id="content">
			<div class="wrapper">
				<img src="./slike/lopta-velika.jpg" alt="velika lopta">
			</div>
		</main>
		<!-- main #content end -->
		<footer id="page-footer">
			<div class="wrapper">
				<h1>WEB DESIGNER</h1>
				<div id="copyright">
					<p>Web Dizajner 2022.</p>
				</div>
				<!-- div #copyright end -->
			</div>
			<!-- div .wrapper end -->
		</footer>
		<!-- footer #page-footer end -->
