            <!-- Content Row-->
            <div class="row gx-4 gx-lg-5">
                <div class="col-md-4 mb-5">
                    <div class="card h-100">
                        <div class="card-body">
                            <h2 class="card-title">Executive Leadership Principles Program</h2>
                            <p class="card-text">4 Months<br>
Cohort Starts : 11 Jul, 2023</p>
                        </div>
                        <div class="card-footer"><a class="btn btn-primary btn-sm" href="https://www.simplilearn.com/leadership-principles-training-course">More Info</a></div>
                    </div>
                </div>
                <div class="col-md-4 mb-5">
                    <div class="card h-100">
                        <div class="card-body">
                            <h2 class="card-title">AI for Decision Making: Business Strategies and Applications</h2>
                            <p class="card-text">3 Months<br>
Cohort Starts : 28 Jun, 2023</p>
                        </div>
                        <div class="card-footer"><a class="btn btn-primary btn-sm" href="https://www.simplilearn.com/ai-for-decision-making-program">More Info</a></div>
                    </div>
                </div>
                <div class="col-md-4 mb-5">
                    <div class="card h-100">
                        <div class="card-body">
                            <h2 class="card-title">Post Graduate Program in Cloud Computing</h2>
                            <p class="card-text">11 Months<br>
Cohort Starts : 27 Jun, 2023</p>
                        </div>
                        <div class="card-footer"><a class="btn btn-primary btn-sm" href="https://www.simplilearn.com/pgp-cloud-computing-certification-training-course">More Info</a></div>
                    </div>
                </div>
            </div>
 <!--       </div> -->
