			<nav id="menu">			
				<div class="wrapper clearfix">
					<div class="col8-12-margin margin-right float-left">
						<div id="menu-ispravak">
							&nbsp;
						</div>
					<!-- div #menu-ispravak end -->
					</div>
					<!-- div .col8-12-margin end -->
					<div class="col4-12-margin margin-right float-left">

						<div id="jezik">
							<div id="s">
								<span>
									<a href="index-eng.html">
										Eng <img class="zastava" src="/workspaces/Template3/demo_angular/demorouting/src/app/slike/zastava.png"
 alt="zastava">
									</a>
								</span>
								<span class="stranica">
									<a href="#">
										Hrv <img class="zastava" src="assets/zastava_h.png" alt="zastava">
									</a>
								</span>
							</div>
						</div>

					</div>
					<!-- div .col4-12-margin end -->
				</div>
				<!-- div .wrapper end -->
			</nav>
			<!-- nav #menu end -->
